<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">      
      <section name="ParseExcel.Configuration.ExcelSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ParseExcel.Configuration.ExcelSettings>
      <setting name="RedirectCellPattern" serializeAs="String">
        <value>\{(\D\d)\}</value>
      </setting>
      <setting name="ColumnWithDialogs" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FlowStartColumn" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ChoiceDelimiter" serializeAs="String">
        <value>&amp;</value>
      </setting>
      <setting name="DefaultEndAction" serializeAs="String">
        <value>DialogResultObject.AskForAnotherQuestion</value>
      </setting>
      <setting name="TicketCreationText" serializeAs="String">
        <value>[ticket creation]</value>
      </setting>
    </ParseExcel.Configuration.ExcelSettings>
  </applicationSettings>
</configuration>